* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #53ACFF;
  --orange-color: #D94111;
  --green-color: #118F4B;
}

.bg-accent {
  background-color: var(--accent-color) !important;
}

.bg-orange {
  background-color: var(--orange-color) !important;
}

.bg-green {
  background-color: var(--green-color) !important;
}

.text-accent {
  color: var(--accent-color) !important;
}

.text-orange {
  color: var(--orange-color) !important;
}

.text-green {
  color: var(--green-color) !important;
}

.text-grey {
  color: #939393;
}

body {
  background-color: #202020;
}

p {
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.curser-pointer {
  cursor: pointer !important;
}

/* ----------------------------Sidebar---------------------------- */
nav {
  width: 5rem;
  height: 100vh;
  background-color: #181818;
  color: white;
  z-index: 99999;
}

nav .container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top-options {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  transform: scale(3.5);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menu li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li span {
  font-size: 1.5rem;
  color: rgb(255, 255, 255, 0.5);
}

.menu li span:hover {
  color: rgb(255, 255, 255);

}

.profile-avatar {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

/* ----------------------------Home---------------------------- */
#home {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

#home section .container {
  margin: 0;
  color: white;
}

.top-details {
  row-gap: 1rem;

}

.top-details .title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
}

.top-details .title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  height: 100%;
  width: 5px;
  border-radius: 5px;
  background-color: var(--accent-color);
}

.search {
  margin: 0 !important;
}

.search .search-bar {
  height: 100%;
  width: 95%;
  position: relative;
}

.search input {
  width: 100%;
  border: none;
  height: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
  background-color: #313131;
}

.search input::placeholder {
  color: white;
}

.search input:focus {
  outline: none;
}

.search .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2.5rem;
  color: #939393;
  font-size: 1.3rem;
}

.search .notification-bell {
  color: var(--accent-color);
  font-size: 1.5rem;
  position: relative;
}

.search .notification-bell::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -2px;
  padding: 0.4rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: small;
  background-color: var(--green-color);
}

/* ----------------------------Alret List---------------------------- */
.single-alert-btn {
  background-color: #313131;
  border-radius: 7.69px;
  border: none !important;
  color: white;
}

.alert-content:nth-child(1),
.alert-content:nth-child(2),
.alert-content:nth-child(3) {
  border-right: 1px solid #939393;
}

.alerts-list {
  position: relative;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: red;
  scrollbar-track-color: #118F4B !important;

  ::-webkit-scrollbar-track {
    background-color: transparent !important;
  }

  ::-webkit-scrollbar-thumb {
    background: red !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
}


.scrolling-part {
  max-height: calc(100vh - (48px + 4rem));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.single-alert-content {
  border-bottom-left-radius: 7.69px;
  border-bottom-right-radius: 7.69px;
  background-color: #181818;
  transform: translateY(-5px);
  position: relative;
  z-index: -1;
}

/* ----------------------------Filter---------------------------- */
aside {
  background-color: #181818;
  color: white;
  height: 95vh;
  position: fixed;
  right: -100%;
  top: 0;
  margin-top: 1rem !important;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.filters-names-box {
  background-color: #202020;
  border-radius: 6.86px;
  height: 50px;
}

.filters-names h6:nth-of-type(2) {
  cursor: pointer;
}

.filters-names-box>span {
  font-size: small;
}

.filters-box {
  background-color: #202020;
  border-radius: 6.86px;
}

.apply-btn button {
  border-radius: 6px;
  padding: 0.5rem 3.5rem;
}

.filters-box .search-bar {
  height: 2rem;
  width: 95%;
  position: relative;
}

.filters-box .search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #313131;
  /* padding-left: 1rem; */
  padding: 0.5rem 1rem;

}

.filters-box .search-bar input::placeholder {
  font-size: 0.8rem;
  color: #939393;
}

.filters-box .search-bar input:focus {
  outline: none;
}

.filters-box .search-bar .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2.5rem;
  color: #939393;
}

.industry ul ul {
  border-left: 3px solid #939393;
  padding-left: 0.5rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}

.filter-item span {
  text-wrap: nowrap;
}

.industry ul ul li .filter-item:hover {
  background-color: var(--accent-color);
  cursor: default;
  color: #181818;
  border-radius: 6px;
}

.strategy span:nth-of-type(2) {
  background-color: var(--accent-color);
  border-radius: 6px;
}

.strategy span:nth-of-type(1),
.strategy span:nth-of-type(3) {
  color: rgb(255, 255, 255, 0.4);
}

.filter-btn {
  color: white;
  top: 10%;
  left: 3%;
  padding: 0.5rem;
  background-color: var(--accent-color);
  cursor: pointer;
  z-index: 9999;
}

@media screen and (min-width: 0px) {

  aside {
    width: 90% !important;
    height: 100% !important;
    z-index: 99999;
    margin-top: 0 !important;
    right: -100% !important;
  }

  #home section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    width: 100vw;
    height: 60px !important;
  }

  nav .container {
    flex-direction: row;
    padding: 1rem 2rem;
  }

  .logo {
    width: 4rem;
  }

  .logo img {
    width: 100%;
    transform: scale(3);
  }

  .profile-avatar {
    width: 40px;
  }

  .profile-avatar img {
    width: 100%;
    border-radius: 50%;
  }

  .top-options {
    flex-direction: row;
  }

  .menu {
    flex-direction: row;
  }
}

#home {
  margin-left: 0;
  margin-top: 60px;
  width: 100vw
}



@media screen and (min-width: 768px) {
  .filter-btn {
    top: 4%;
    left: 10%;
  }

  nav {
    width: 5rem;
    height: 100vh !important;
  }

  nav .container {
    flex-direction: column;
  }

  .logo {
    width: auto;
  }

  .logo img {
    width: 3rem;
    transform: scale(3.5);
  }

  .top-options {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
  }

  .profile-avatar img {
    width: 100%
  }

  #home {
    margin-left: 4rem;
    margin-top: 0;
    width: calc(100% - 5rem);
  }
}

@media screen and (min-width: 1280px) {}

@media screen and (min-width: 1400px) {
  aside {
    right: 0 !important;
    width: auto !important;
    height: 95vh !important;
    z-index: 99999;
    margin-top: 1rem !important;
  }

  #home section {
    width: 73%;
  }


}